RewriteEngine on
# redirect html pages to the root domain
RewriteRule ^index$ / [NC,R=301,L]
RewriteRule ^site/index$ / [NC,R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

